<div
        class="p-5 text-center bg-image rounded-bottom"
        style="background-image: url('https://media.istockphoto.com/photos/weather-forecast-concept-picture-id531889697?b=1&k=20&m=531889697&s=612x612&w=0&h=VIXbtKOkf6PFZKpdWlhn0rNhjfMb58fEB0s-J2GFAd0=');height: 400px;"
>
</div>
