<nav class= "navbar navbar-expand-lg navbar-dark bg-info">

    <div class="container ">

        <a href="/" class="navbar-brand">
            <p class="h3" style="color:#ffffff; font-weight:bold; font-style:italic;">Weather Report</p>
        </a>

        <button
                class= "navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navmenu"
        >
            <span class="navbar-toggle-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a href="/" class="nav-link h4">Home</a>
                </li>

                <li class="nav-item h4">
                      <a href="/contacts" class="nav-link">Contacts</a>
                </li>
            </ul>
        </div>
    </div>
</nav>