<div class="container" x-data="{ showAlert: true }">
    <div class="row">
        <h2>Slider Search Box</h2>
        <div class="search col-md-6 offset-md-3">
            <form action="/search" method="post" class="d-flex justify-content-between align-items-center">

                <input type="text" class="form-control me-2" name="search" maxlength="64" placeholder="Search for a city">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
            {% if cityNotFound %}
                <div class="alert mt-3 alert-warning" x-show="showAlert" x-init="setTimeout(() => showAlert = false, 3000)">
                    City not found. Showing weather for {{ city }}.
                </div>
            {% endif %}
        </div>
    </div>
</div>
