body {
    font-family: "Time", sans-serif;
}
a:hover {
    color: #9696f3;
}


.img-responsive {
    width: 100%;
    height: auto;
    max-width: 200px;
    max-height: 100px;

}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


main {
    flex: 1;
}

.page-container {
    position: relative;
    min-height: 38vh;
}